<nav class="">
  <ul id="main-menu" data-nav-showing="false">
    <!-- <li class="nav-jr home-anc"><h4><a href="#home"><br></a></h4></li> -->
    {% assign current = page.url | downcase | split: '/' %}
    <div class="flexbox-parent" style="display: flex; flex-wrap: wrap">
      <li class="home-anc nav-brand" style="display: inline">
        <a class="nav-underline brand {% if page.url == '/' %}current{% endif %}"
          href="{{ '/' | relative_url }}">home</a>
      </li>
      <li style="display: inline">
        <a class="nav-underline blog {% if page.url == '/blog/' %}current{% endif %}"
          href="{{ '/blog/' | relative_url }}">blog</a>
      </li>
      <li class="team-anc" style="display: inline">
        <a class="nav-underline library {% if page.url == '/books/' %}current{% endif %}"
          href="{{ '/books/' | relative_url }}">books</a>
      </li>
      <li class="fin-anc" style="display: inline">
        <a class="nav-underline about {% if page.url == '/anti-flake/' %}current{% endif %}"
          href="{{ '/anti-flake/' | relative_url }}">anti-flake</a>
      </li>
      <!-- <li class="beliefs-anc" style="display: inline">
        <a class="nav-underline open-source {% if page.url == '/projects/' %}current{% endif %}"
          href="{{ '/projects/' | relative_url }}">projects</a>
      </li> -->
      <li class="about-anc" style="display: inline">
        <a class="nav-underline about {% if page.url == '/about/' %}current{% endif %}"
          href="{{ '/about/' | relative_url }}">me</a>
      </li>
      <!-- <li class="resume-anc" style="display: inline">
        <a class="nav-underline resume {% if page.url == '/resume/' %}current{% endif %}"
          href="{{ '/resume/' | relative_url }}">resume</a>
      </li> -->
      <li>
        {% if site.show_social_icons %}
        {% include social_links.html %}
        {% endif %}
      </li>
    </div>
  </ul>
</nav>