---
layout: default
title: Open Source Projects
tags: projects
permalink: /projects/
js:
  - js/gh_projects.js
  - js/util_buttons.js
---

<h1>Projects</h1>

<p>
  Challenges, side-projects, and open source code. Click-through to check out the
  work in more detail.
</p>

<hr />

<h2>ongoing challenges</h2>

<a
  style="color: black"
  href="https://codingchallenges.fyi/challenges/intro/"
  aria-label="Coding Challenges"
  target="_blank"
  rel="noopener noreferrer"
>
  <div
    class="ongoing-challenges"
    style="
      display: flex;
      align-items: center;
      border-color: #999;
      border-width: 1px;
      border-style: solid;
      border-radius: 5px;
      margin-bottom: 1em;
    "
  >
    <div class="">
      <span class="sr-only">Modal labs</span>
      <img
        src="{{ site.url }}/images/codingchallenges.png"
        height="75px"
        width="75px"
        style="
          min-width: 75px;
          margin: 12.5px;
        "
      />
    </div>
    <div>
      <h4
        class="text-lg font-bold tracking-tight text-gray-900 dark:text-gray-100"
      >
        Coding Challenges
      </h4>
      <p class="leading-5 text-gray-700 dark:text-gray-300">
        Weekly challenges which I do from <a href="https://github.com/Divan009/coding-challenges" target="_blank" rel="noopener noreferrer">time to time</a>.
      </p>
    </div>
  </div>
</a>

<a
  style="color: black"
  href="https://hackattic.com/challenges"
  aria-label="Hackattic"
  target="_blank"
  rel="noopener noreferrer"
>
  <div
    class="ongoing-challenges"
    style="
      display: flex;
      align-items: center;
      border-color: #999;
      border-width: 1px;
      border-style: solid;
      border-radius: 5px;
      margin-bottom: 1em;
    "
  >
    <div style="display: flex; align-items: center">
      <span class="sr-only">Hackattic</span>
      <img
      src="{{ site.url }}/images/Hackattic.jpg"
      height="75px"
      width="75px"
      style="
        min-width: 75px;
        margin: 12.5px;
      "
      />
    </div>
    <div>
      <h4
        class="text-lg font-bold tracking-tight text-gray-900 dark:text-gray-100"
      >
      Hackattic
      </h4>
      <p class="leading-5 text-gray-700 dark:text-gray-300">
        These challenges are cool, should <a href="https://github.com/Divan009/hackattic-challenges" target="_blank" rel="noopener noreferrer">try it out</a>.
      </p>
    </div>
  </div>
</a>


<a
  style="color: black"
  href="https://github.com/Divan009/SoundCloud_scraper"
  aria-label="SoundCloud_scraper"
  target="_blank"
  rel="noopener noreferrer"
>
  <div
    class="ongoing-challenges"
    style="
      display: flex;
      align-items: center;
      border-color: #999;
      border-width: 1px;
      border-style: solid;
      border-radius: 5px;
      margin-bottom: 1em;
    "
  >
    <div style="display: flex; align-items: center">
      <span class="sr-only">SoundCloud Tool</span>
      <!-- <img
      src=""
      height="75px"
      width="75px"
      style="
        min-width: 75px;
        margin: 12.5px;
      "
      /> -->
    </div>
    <div>
      <h4
        class="text-lg font-bold tracking-tight text-gray-900 dark:text-gray-100"
      >
      Hackattic
      </h4>
      <p class="leading-5 text-gray-700 dark:text-gray-300">
        One of the first project I did in my college <a href="https://github.com/Divan009/SoundCloud_scraper" target="_blank" rel="noopener noreferrer">. This was for learning Python</a>.
      </p>
    </div>
  </div>
</a>

<!-- 

<a
  style="color: black"
  href="https://ddiaflashcards.com/"
  aria-label="DDIA flashcards"
  target="_blank"
  rel="noopener noreferrer"
>
  <div
    class="active-project"
    style="
      display: flex;
      align-items: center;
      border-color: #999;
      border-width: 1px;
      border-style: solid;
      border-radius: 5px;
    "
  >
    <div style="display: flex; align-items: center">
      <span class="sr-only">DDIA Flashcards</span>
      <img
        src="https://d1wqzb5bdbcre6.cloudfront.net/6f99c62f0006e13e54286791513157f25e462dba7a17ae271b1dfc4f030cd010/68747470733a2f2f66696c65732e7374726970652e636f6d2f6c696e6b732f4d44423859574e6a644638785356706862314a4c516d5a5859336c7552335a3466475a7358327870646d5666616a4d7965465234616e6c5a5746527256574e6a56554e4c53454643516a424a30307257336557767742"
        height="75px"
        width="75px"
        style="min-width: 75px; border-radius: 0.25em; margin: 12.5px"
      />
    </div>
    <div>
      <h4
        class="text-lg font-bold tracking-tight text-gray-900 dark:text-gray-100"
      >
        DDIA Flashcards
      </h4>
      <p class="leading-5 text-gray-700 dark:text-gray-300">
        Flashcards to help with learning the insights of Kleppmann's Designing
        Data Intensive Applications textbook.
      </p>
    </div>
  </div>
</a> -->

<hr />

<h2>Public Repos</h2>

<div id="display-projects"></div>

<div class="circle-button">
  <div
    class="top-circle"
    data-sr-id="80"
    style="
      visibility: visible;
      -webkit-transform: scale(1);
      opacity: 1;
      transform: scale(1);
      opacity: 1;
      -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1)
          0s,
        opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
      transition: transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s,
        opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
    "
  >
    <img src="{{ site.url }}/images/logos/top.png" />
  </div>
</div>

{% for js in page.js %}
<script type="text/javascript">
  {% include {{ js }} %}
</script>
{% endfor %}

<script src="https://cdn.jsdelivr.net/emojione/3.0.3/lib/js/emojione.min.js"></script>
<script type="text/javascript">
  $(function () {
    $("#display-projects").getRepos(
      "Divan009"
    ); /* Add your github username. */
  });
</script>

<style>
  .ongoing-challenges {
    transition: all 0.2s ease-in-out;
  }

  .ongoing-challenges:hover {
    transform: scale(1.01);
  }
</style>